{% extends 'base/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

   <div class="wrapper wrapper-content animated fadeInRight">
    <div class="filter-header well clearfix">
      <h4 style="margin-top: 0">Filtrar</h4>
      {% include "_filter_fields.html" with filter=filter.form %}
        <div class="row">

        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Lista de Arqueos</h5>
          </div>
          <div class="ibox-content">
            {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block after_content %}
<script>
  $(function() {
    $('.table-responsive').on('show.bs.dropdown', function () {
      $('.table-responsive').css( "overflow", "inherit" );
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
      $('.table-responsive').css( "overflow", "auto" );
    });
  });
</script>
{% endblock %}