{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block content %}

<form role="form" action="{% url 'venta:crear_venta' %}" method="post">
        <h3>Crear Venta</h3>
        {% csrf_token %}
        <div class="panel panel-default">
                <div class="panel-body">
                        <div class="">
                                <div class="col-lg-9">
                                        <h5><b>Periodo de precios</b></h5>
                                        {{ form.precio}}
                                </div>
                                <div class="col-lg-2">
                                        <h5><b>Turno</b></h5>
                                        {{ form.turno }}
                                </div>
                        </div>
                        {{ detalle_venta_form_set.management_form }}
                        {% for detalle_venta_form in detalle_venta_form_set %}
                        <div class="col-lg-4">
                                                <label>Combustible</label>
                                                {% if detalle_venta_form.dispensador.errors %}
                                                        {% for error in detalle_compra_form.combustible.errors %}
                                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <strong>Error: </strong> {{ error|escape }}
                                                        </div>
                                                        {% endfor %}
                                                {% endif %}
                                                {{ detalle_venta_form.combustible }}
                                        </div>
                                <div class="row">


                                        <div class="col-lg-2">
                                                <label>Total Venta Litro</label>
                                                {% if detalle_venta_form.tot_venta_litro.errors %}
                                                        {% for error in detalle_compra_form.tot_venta_litro.errors %}
                                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <strong>Error: </strong> {{ error|escape }}
                                                        </div>
                                                        {% endfor %}
                                                {% endif %}
                                                {% bootstrap_field detalle_venta_form.tot_venta_litro %}
                                        </div>


                                </div>
                        {% endfor %}
                        <div class="col-lg-2">
                                <div>
                                        {% bootstrap_field form2.tot_efectivo %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.cheque %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.credito %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.tarjecredebtbk %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.tarjedebtbk %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.subtotaltarje %}
                                </div>
                                <div>
                                        {% bootstrap_field form2.tot_ingreso %}
                                </div>
                        </div>
                </div>
        </div>
        <div class="panel-body" >
         <div class="col-lg-3" >
        {{form2.as_table}}
         </div>
        </div>
        <div class="col-lg-12 text-right">
                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
        </div>
</form>
{% endblock content %}