{% extends 'base/base.html' %}
{% block content %}
<h3>Venta</h3>
<div class="row">
        <div class="col-lg-10">
                <a href="{% url 'venta:crear_venta' %}" class="btn btn-primary">
                        Crear
                </a>
        </div>
</div>
<hr/>
<div class="row">
        <div class="col-lg-12">
                <table id="tabla" class="display" cellspacing="0" width="100%">
                        <thead>
                                <tr>
                                        <th class="text-center">FECHA</th>
                                        <th class="text-center">ACCIONES</th>
                                </tr>
                        </thead>
                        <tbody>
                        {% for venta in venta %}
                <tr>
                    <td>{{ venta.fecha }}</td>
                    <td class="text-center">
                        <a href="#" class="btn">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="#" class="btn">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
        </div>
</div>
<script>

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
{% endblock content %}