{% load i18n %}
<header>
    {% block nav_bar %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home:dashboard' %}">Reconciliación</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <!-- /.dropdown -->
                    {% block header_dropdowns %}
                        {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% block user_footer %}
                            <li class="user-footer"><a href=""><i class="fa fa-user fa-fw"></i>{% firstof request.user.get_short_name request.user.get_username %}</a>
                            </li>
                            {% endblock %}
                            <li class="divider"></li>
                            <li><a href="{% url 'usuario:password' request.user.pk %}"><i class="fa fa-key fa-fw"></i>{% trans 'Change password' %}</a>
                            </li>
                            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Cerrar Sesión</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                        {% endif %}
                    {% endblock header_dropdowns %}
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <a href="#"><i class="fas fa-dollar-sign fa-fw"></i> Precios</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'precio:precio_crear' %}">Calcular</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'precio:precio_lista' %}">Ver Precios</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>

                            <li>
                                <a href="#"><i class="fas fa-shopping-cart fa-fw"></i> Abastecimiento de Combustible</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'compra:compra_crear' %}">Registro de Compra Combustible</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'compra:compra_lista' %}">Listar de Compras</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-money-bill-alt fa-fw"></i> Arqueo de Ventas</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'venta:crear_venta' %}">Registrar Arqueo Venta</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'venta:listar_venta' %}">Lista De Arqueo de Ventas</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-handshake fa-fw"></i> Registro Cliente Handling</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'handling:handlingCliente_crear' %}">Registrar Cliente Handling</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'handling:handlingCliente_list' %}">Listar Clientes Activos</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'handling:handlingCliente_listin' %}">Listar Clientes Inactivo</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-hand-holding-usd fa-fw"></i> Handling Diario</a>
                                <ul class="nav nav-second-level">

                                    <li>
                                    <a href="#">Retiro</a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                        <a href="{% url 'handling:handlingDiario_crear' %}">Registrar Retiro Handling</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'handling:handlingDiario_list' %}">Historial de Retiros</a>
                                    </li>

                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                    <li>
                                    <a href="#">Ingreso </a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                        <a href="{% url 'handling:ingresohandling_crear' %}">Registrar Ingreso Handling</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'handling:ingresohandling_list' %}">Historial de Ingresos</a>
                                    </li>

                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% if perms.auth.add_user %}
                            <li>
                                <a href="#"><i class="fa fa-users fa-fw"></i> Usuarios</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{% url 'usuario:registrar' %}">Registrar Usuario</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'usuario:listar' %}">Listar Usuario</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'reporte:reporte' %}"><i class="far fa-file-pdf fa-fw"></i> Reporte Compra-venta</a>
                                <a href="{% url 'reporte:hand' %}"><i class="far fa-file-pdf fa-fw"></i> Reporte retiros Handling</a>

                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
    </nav>
    {% endblock nav_bar %}
</header>
