    {% block footer %}
    <div>
            <div class="pull-right">Creado por <strong>IPVG</strong>.</div>
            <div><strong>Copyright</strong> IPVG &copy; 2018</div>
    </div>
    {% endblock %}