{% load staticfiles %}

{% block scripts %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Otros js -->
    <script src="{% static 'vendor/font-awesome/js/all.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>

    <script src="{% static 'js/anychart-base.min.js' %}"></script>
    <script src="{% static 'js/light_blue.min.js' %}"></script>
    <script src="{% static 'js/anychart-ui.min.js' %}"></script>
    <script src="{% static 'js/anychart-exports.min.js' %}"></script>
    <script src="{% static 'js/anychart-cartesian-3d.min.js' %}"></script>
    <!--nuevo-->
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/themes/v8/dark_blue.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/locales/es-cl.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <script src="{% static 'js/plugins/prism/prism.min.js' %}"></script>
    <script id="js_common" src="{% static 'js/common.js' %}"></script>
{% endblock %}