{% load static %}

{% block styles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'vendor/font-awesome/css/all.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'dist/css/anychart-ui.min.css' %}" />

    <link rel="stylesheet" href="{% static 'dist/css/anychart-font.min.css' %}" />
    <!--nueva-->

    <link rel="stylesheet" href="{% static 'dist/css/app.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/prism.coy.min.css' %}" />

{% endblock %}