<!DOCTYPE html>
{% extends 'base/base.html'%}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Reconciliación | Dashboard</title>
</head>
<body>
{%block content%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-gas-pump fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="93">0</div>
                            <div>Precio 93</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-gas-pump fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="95">0</div>
                            <div>Precio 95</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-gas-pump fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="97">0</div>
                            <div>Precio 97</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fas fa-gas-pump fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" id="diesel"></div>
                            <div>Precio Diesel</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default table-responsive">
            <div class="panel-body" >
                <div class="col-lg-6" id="container-chart" style="width: 500px; height: 300px;"></div>
                <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                    <h4 class="card-title">Ultima Venta</h4>
                    <p class="card-category">Información respecto a los ingresos de la ultima venta.</p>
                    </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                            <th>Total Efectivo</th>
                            <th>Total Vendido</th>
                            <th>Total Ingresos</th>
                            <th>Diferencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>{{ obj5.tot_efectivo }}</td>
                            <td>{{ obj6 }}</td>
                            <td>{{ obj5.tot_ingreso }}</td>
                            <td>{{ obj7 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default table-responsive">
            <div class="col-lg-6" id="container" style="width: 950px; height: 500px; margin: 0 auto;"></div>
        </div>
    </div>
</body>
</html>
{%endblock%}
