<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Sistema Reconciliación </title>
</head>
<body>
<div class="col-md-12">
    <div class="form-group">
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2 class="card-title">Reconciliación</h2>
              <p class="card-category">Sistema De Petrobras Chile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
{%endblock%}



