{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block vendor %}
  <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 class="box-title">Nuevo beneficiario</h5>
      </div>
      <div class="ibox-content">
        <form action="" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
          <div class="box-body">

            {% csrf_token %}

            {% bootstrap_form form %}

            <div class="box-footer">
              <a href="{% url 'producer:producer_list' %}" data-original-title="Volver al listado" data-toggle="tooltip"
                class="btn btn-primary">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Volver al listado
              </a>

              <button type="submit" class="btn btn-primary pull-right">
                <i class="fa fa-plus" aria-hidden="true"></i> Guardar
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block after_content %}
<script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
<script>
  $('select').select2();
</script>
{% endblock %}
