<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'base/base.html'%}
{%block content%}
<body>
    <h4>¿ Esta seguro que quiere Desactivar este Cliente ?</h4>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            {{form.estado}}
            <br>
            <button class="btn btn-danger" type="submit">Si Acepto</button>
            <a class="btn btn-primary" href="{% url 'handling:handlingCliente_list' %}">  Cancelar </a>
        </form>
    </div>

</body>
{%endblock%}
</html>