{% extends 'base/base.html' %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>REGISTRO DE HANDLING DIARIO</h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {% bootstrap_field form.fecha %}
            {% bootstrap_field form.kilometraje %}
            {% bootstrap_field form.patente %}
            {% bootstrap_field form.nombre_chofer %}
            {% bootstrap_field form.litros %}
            {% bootstrap_field form.handlingcliente %}
            <input type='submit' class="btn btn-primary" value='Guardar Registro'>
        </form>
    </div>
</body>
</html>
{%endblock%}