{% extends 'base/base.html' %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>REGISTRO DE INGRESO </h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {% bootstrap_field form.fecha %}
            {% bootstrap_field form.numero_guia %}
            {% bootstrap_field form.recepcion %}
            {% bootstrap_field form.handlingcliente %}
            <input type='submit' class="btn btn-primary" value='Guardar Registro'>
        </form>
    </div>
</body>
</html>
{%endblock%}
