{% extends 'base/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Eliminar</h5>
            </div>
            <div class="ibox-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>¿ Esta seguro que quiere eliminar  ? {{ object }}</p>
                    <a href="{% url 'handling:ingresohandling_list' %}" data-original-title="Volver al listado" data-toggle="tooltip"
                        class="btn btn-primary">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                        Volver al listado
                    </a>
                    <button class="btn btn-danger" type="submit"><i class="fa fa-user-times"></i> Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}