{% extends "registration/base.html" %}

{% load bootstrap3 %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Iniciar Sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="m-t" method="POST" action="{% url 'login' %}" autocomplete="off">
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            <fieldset>
                                <div class="form-group">
                                    {% bootstrap_field form.username show_label=False bound_css_class='' %}
                                </div>
                                <div class="form-group">
                                    {% bootstrap_field form.password show_label=False bound_css_class='' %}
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button class="btn btn-primary block full-width m-b">Iniciar Sesion</button>
                                <p class="m-t">
                                <small>IPVG &copy; {% now "Y" %}</small>
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}