{% extends 'base/base.html' %}
{% load render_table from django_tables2 %}
{% block head_title %} Usuario-Listar {% endblock %}

{% block content %}


                <div>
                    <a href="{% url 'usuario:registrar' %}" class="btn btn-info pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nuevo usuario
                    </a>
                </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins panel panel-default">
                    <div class="panel-body">
                            <h3>Listado de usuarios</h3>
                    </div>
                    <div class="table-container table-responsive">
                        <div class="panel-body">
                            {% render_table table %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}