{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="ibox float-e-margins">
        {% if user.pk == request.user.pk or perms.auth.add_user %}
        <div class="ibox-title">
          <h5>Cambiar contraseña {{ form.user }}</h5>
        </div>
        <div class="ibox-content">
          <form action="" method="post" role="form" autocomplete="off">
            <div class="box-body">
              {% csrf_token %}
              {% bootstrap_form form %}
            </div>
            <div class="box-footer">
              {% if perms.auth.add_user %}
              <a href="{% url 'usuario:listar' %}" data-original-title="Listado de usuario" data-toggle="tooltip"
                  class="btn btn-primary">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  Volver al listado
              </a>
              {% endif %}
              <button type="submit" class="btn btn-primary pull-right">Cambiar contraseña</button>
            </div>

          </form>
        </div>
        {% else %}
          <div class="error-box text-center animated fadeInDown">
              <h1>403</h1>
              <h3 class="font-bold">Acceso denegado</h3>
              <div class="error-desc h4">
                  <b>Permisos insuficientes para acceder a esta página..</b>
              </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}