{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block head_title %} Usuario-Registrar {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 class="box-title">Nuevo usuario</h5>
      </div>
      <div class="ibox-content">
        <form action="" method="post" role="form" autocomplete="off">
          <div class="box-body">

            {% csrf_token %}

            {% bootstrap_field form.username %}

            {% bootstrap_field form.first_name %}

            {% bootstrap_field form.last_name %}

            {% bootstrap_field form.email %}

            {% bootstrap_field form.password1 %}

            {% bootstrap_field form.password2 %}           

            {% bootstrap_field form.groups %}

            <table class="table">
                    <tr>
                      <th scope="row">Administrador</th>

                      <td>
                          Usuario con los máximos privilegios dentro del sistema. Puede: Ingresar, Buscar, Listar, Modificar y Eliminar TODO, inclusive los usuarios del sistema.
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Supervisor</th>
                      <td>
                          Usuario con privilegios dentro del sistema. Puede: Ingresar, Buscar, Listar y Modificar TODO, excepto los usuarios del sistema. No tiene permisos para eliminar datos.
                    </td>
                    </tr>
                  </tbody>
                </table>

          </div>
          
          <div class="box-footer">
            <a href="{% url 'usuario:listar' %}" data-original-title="Volver al listado de usuarios" data-toggle="tooltip"
              class="btn btn-primary">
              <i class="fa fa-reply" aria-hidden="true"></i>
              Volver al listado
            </a>
            <button type="submit" class="btn btn-primary pull-right">
              <i class="fa fa-plus" aria-hidden="true"></i> Crear nuevo usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



