{% extends 'base/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>Generador de reportes</h1>
        <hr>
           {%csrf_token%}
        <form action="" >
            <div class ="col-md-5">
            <div>
                <h5> Fecha Inicial </h5>
                <input id="fecha1" type="date" >
            </div>
           <div>
                <h5> Fecha final </h5>
                <input id="fecha2" type="date" >
            </div>

                {{form.as_p}}
                 <button type="button" class="btn btn-primary" id="boton">Reporte</button>
            </div>


        </form>
    </div>
</body>
<script>

$('#boton').click(function() {
    console.log($('#id_handlingcliente').val());
    $('#id_handlingcliente').val()
    if($('#fecha1').val() == "" || $('#fecha2').val() == "" ){
         alert("Ingrese una fecha");
    }else{
         window.location="/reporte/handling/"+$("#fecha1").val()+"/"+$("#fecha2").val()+"/"+$('#id_handlingcliente').val();
    }
});

$("#fecha2").change(function () {
    console.log($('#id_handlingcliente').val());
    if($('#fecha1').val() > $('#fecha2').val() ){
    alert("Rango de fecha invalido");
    $('#fecha1').val("dd-mm-aaaa");
    $('#fecha2').val("dd-mm-aaaa");

}
});

</script>

</html>
{%endblock%}
