{% extends 'base/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>

    {%block content%}
    <div class="col-sm-12">
        <h1>Generador de reportes</h1>
        <hr>
        <form action="" >
            {%csrf_token%}
            {{fecha}}
            {{fecha2}}



        </form>
    </div>
</body>



</html>
{%endblock%}
