{% extends 'base/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>

    {%block content%}
    <div class="col-sm-12">
        <h1>Generador de reportes</h1>
        <hr>
           {%csrf_token%}
        <form action="" >

            <input id="fecha1" type="date">   <input id="fecha2" type="date">
            <button type="button" class="btn btn-primary" id="boton">Reporte</button>

            


        </form>
    </div>
</body>
<script>

$('#boton').click(function() {
    console.log($('#fecha1').val());
    if($('#fecha1').val() == "" || $('#fecha2').val() == "" ){
         alert("Ingrese una fecha");
    }else{
         window.location="reporte/compra-venta/"+$("#fecha1").val()+"/"+$("#fecha2").val();

    }

});

$("#fecha2").change(function () {
    if($('#fecha1').val() > $('#fecha2').val() ){
    alert("Rango de fecha invalido");
    $('#fecha1').val("dd-mm-aaaa");
    $('#fecha2').val("dd-mm-aaaa");

}
});

</script>

</html>
{%endblock%}

