{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block head_title %} Editar Precio {% endblock %}
<html lang="en">
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>Calculo de combustibles</h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            <div>
                <h5>Periodo</h5>
                <div class = "col-md-3">
                    <h5> Fecha de Ingreso</h5>
                    {%bootstrap_field form.fechaini%}
                </div>
                <div class = "col-md-3">
                    <h5> Margen de ganancia</h5>
                    {%bootstrap_field form.margen%}
                </div>
                <div class = "col-md-3" style="visibility: hidden">
                    <h5> Fecha de Final</h5>
                    {{form.fechafin}}
                </div>

            </div>
            <!-- columnas !-->

            <table class="table table-responsive" >
                <thead>
                    <tr>
                        <th>Octanaje</th>
                        <th class="text-center">93</th>
                        <th class="text-center">95</th>
                        <th class="text-center">97</th>
                        <th class="text-center">Diesel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Costo</th>
                        <td>{%bootstrap_field form.costo93 %}</td>
                        <td>{%bootstrap_field form.costo95 %}</td>
                        <td>{%bootstrap_field form.costo97 %}</td>
                        <td>{%bootstrap_field form.costodiesel %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Iva</th>
                        <td>{%bootstrap_field form.iva93 %}</td>
                        <td>{%bootstrap_field form.iva95 %}</td>
                        <td>{%bootstrap_field form.iva97 %}</td>
                        <td>{%bootstrap_field form.ivadiesel %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Imp. Fijo</th>
                        <td>{%bootstrap_field form.impfijo93 %}</td>
                        <td>{%bootstrap_field form.impfijo95 %}</td>
                        <td>{%bootstrap_field form.impfijo97 %}</td>
                        <td>{%bootstrap_field form.impfijodiesel %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Imp. Variable</th>
                        <td>{%bootstrap_field form.impvar93 %}</td>
                        <td>{%bootstrap_field form.impvar95 %}</td>
                        <td>{%bootstrap_field form.impvar97 %}</td>
                        <td>{%bootstrap_field form.impvardiesel %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Especifico</th>
                        <td>{%bootstrap_field form.imptotal93 %}</td>
                        <td>{%bootstrap_field form.imptotal95 %}</td>
                        <td>{%bootstrap_field form.imptotal97 %}</td>
                        <td>{%bootstrap_field form.imptotaldiesel %}</td>
                    </tr>
                    <tr class="">
                        <th scope="row">Valor</th>
                        <td>{%bootstrap_field form.oc93 %}</td>
                        <td>{%bootstrap_field form.oc95 %}</td>
                        <td>{%bootstrap_field form.oc97 %}</td>
                        <td>{%bootstrap_field form.diesel %}</td>
                    </tr>
                </tbody>
            </table>
            <input type='submit' class="btn btn-primary" value='Guardar Registro' id="boton">
        </form>
    </div>
</body>
</html>
<script>
var Fn = {
    iva : function (neto) {
        var iva = neto *0.19;
        return ((iva).toFixed(3));
    },
    impuesto: function (fijo,variable,neto) {
        var n = parseFloat(fijo) + parseFloat(variable);

        neto = neto * (n /100)
        return (parseFloat((neto).toFixed(3)))
    }
}
//--------------------93-----------------------
$("#id_costo93").change(function () {
    var costo = $("#id_costo93").val();
     $("#id_iva93").val(Fn.iva(costo));
});
$("#id_impfijo93").change(function () {
    var impfijo = $("#id_impfijo93").val();
    var impvar = $("#id_impvar93").val();
    var neto = $("#id_costo93").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotal93").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_impvar93").change(function () {
    var impfijo = $("#id_impfijo93").val();
    var impvar = $("#id_impvar93").val();
    var neto = $("#id_costo93").val();
    if (impfijo != ''  && impvar != '') {
            $("#id_imptotal93").val(Fn.impuesto(impfijo,impvar,neto));

        }

});
$("#id_imptotal93").blur(function () {

    var margen = $("#id_margen").val();
    var costo = $("#id_costo93").val();
    var iva = $("#id_iva93").val();
    var impuesto = $("#id_imptotal93").val();
    var total = parseFloat(iva) + parseFloat(margen)+parseFloat(costo)+parseFloat(impuesto);
    $("#id_oc93").val(parseInt(total));

});
//------------95-------------
$("#id_costo95").change(function () {
    var costo = $("#id_costo95").val();
     $("#id_iva95").val(Fn.iva(costo));
});
$("#id_impfijo95").change(function () {
    var impfijo = $("#id_impfijo95").val();
    var impvar = $("#id_impvar95").val();
    var neto = $("#id_costo95").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotal95").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_impvar95").change(function () {
    var impfijo = $("#id_impfijo95").val();
    var impvar = $("#id_impvar95").val();
    var neto = $("#id_costo95").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotal95").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_imptotal95").blur(function () {
    var margen = $("#id_margen").val();
    var costo = $("#id_costo95").val();
    var iva = $("#id_iva95").val();
    var impuesto = $("#id_imptotal95").val();
    var total = parseFloat(iva) + parseFloat(margen)+parseFloat(costo)+parseFloat(impuesto);
    $("#id_oc95").val(parseInt(total));

});
//------------97--------------
$("#id_costo97").change(function () {
    var costo = $("#id_costo97").val();
     $("#id_iva97").val(Fn.iva(costo));
});
$("#id_impfijo97").change(function () {
    var impfijo = $("#id_impfijo97").val();
    var impvar = $("#id_impvar97").val();
    var neto = $("#id_costo97").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotal97").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_impvar97").change(function () {
    var impfijo = $("#id_impfijo97").val();
    var impvar = $("#id_impvar97").val();
    var neto = $("#id_costo97").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotal97").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_imptotal97").blur(function () {
    var margen = $("#id_margen").val();
    var costo = $("#id_costo97").val();
    var iva = $("#id_iva97").val();
    var impuesto = $("#id_imptotal97").val();
    var total = parseFloat(iva) + parseFloat(margen)+parseFloat(costo)+parseFloat(impuesto);
    $("#id_oc97").val(parseInt(total));

});
//---------------------diesel-------------------------
$("#id_costodiesel").change(function () {
    var costo = $("#id_costodiesel").val();
     $("#id_ivadiesel").val(Fn.iva(costo));
});
$("#id_impfijodiesel").change(function () {
    var impfijo = $("#id_impfijodiesel").val();
    var impvar = $("#id_impvardiesel").val();
    var neto = $("#id_costodiesel").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotaldiesel").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_impvardiesel").change(function () {
    var impfijo = $("#id_impfijodiesel").val();
    var impvar = $("#id_impvardiesel").val();
    var neto = $("#id_costodiesel").val();
    if (impfijo != '' && impvar != '') {
             $("#id_imptotaldiesel").val(Fn.impuesto(impfijo,impvar,neto));
        }
});
$("#id_imptotaldiesel").blur(function () {
    var margen = $("#id_margen").val();
    var costo = $("#id_costodiesel").val();
    var iva = $("#id_ivadiesel").val();
    var impuesto = $("#id_imptotaldiesel").val();
    var total = parseFloat(iva) + parseFloat(margen)+parseFloat(costo)+parseFloat(impuesto);
    $("#id_diesel").val(parseInt(total));

});
function editar_fecha(fecha, intervalo, dma, separador) {

  var separador = separador || "-";
  var arrayFecha = fecha.split(separador);
  var dia = arrayFecha[0];
  var mes = arrayFecha[1];
  var anio = arrayFecha[2];

  var fechaInicial = new Date(anio, mes - 1, dia);
  var fechaFinal = fechaInicial;
  if(dma=="m" || dma=="M"){
    fechaFinal.setMonth(fechaInicial.getMonth()+parseInt(intervalo));
  }else if(dma=="y" || dma=="Y"){
    fechaFinal.setFullYear(fechaInicial.getFullYear()+parseInt(intervalo));
  }else if(dma=="d" || dma=="D"){
    fechaFinal.setDate(fechaInicial.getDate()+parseInt(intervalo));
  }else{
    return fecha;
  }
  dia = fechaFinal.getDate();
  mes = fechaFinal.getMonth() + 1;
  anio = fechaFinal.getFullYear();

  dia = (dia.toString().length == 1) ? "0" + dia.toString() : dia;
  mes = (mes.toString().length == 1) ? "0" + mes.toString() : mes;

  return dia + "/" + mes + "/" + anio;
}

$("#fechaini").change(function () {

  $("#fechafin").val( editar_fecha($("#fechaini").val(),'7','d','/'));

});

</script>
{%endblock%}
