{% extends 'base/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Reconciliacion</title>
</head>
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>REGISTRO</h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {{form.as_p}}

            <input type='submit' class="btn btn-primary" value='Guardar Registro'>
        </form>
    </div>
</body>
</html>
{%endblock%}

