{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block head_title %} Editar Compra {% endblock %}
<html lang="en">
<body>
    {%block content%}
    <div class="col-sm-12">
        <h1>REGISTRO DE COMPRA</h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            <div class="col-lg-10">
                {% bootstrap_field form.precio %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.fecha_emision %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.fecha_descarga %}
            </div>
            <div class="col-md-7">
                {% bootstrap_field form.nombre_chofer %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.patente %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.oc93 %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.oc97 %}
            </div>
            <div class="col-md-3">
                {% bootstrap_field form.diesel %}
            </div>
            <div class="col-lg-10">
                <input type='submit' class="btn btn-primary" value='Guardar Registro'>
            </div>
        </form>
    </div>
</body>
</html>
{%endblock%}